<div class="header-wrepper">
  <div class="empty-field"></div>

  <div class="item-menu">
    <div class="logo" routerLink="/poster">
      <div class="title-text">ШИФТ CINEMA</div>
      <img src="../../../assets/cinema-icon.png">
    </div>
    <div class="navigation-text" routerLink="/profile">Профиль</div>
    <div class="navigation-text" routerLink="/tickets">Билеты</div>
  </div>

  <div class="exit">
    <app-icon class="navigation-icon" path="/assets/exit.svg"></app-icon>
    <div class="navigation-text">Выход</div>
    <!--  routerLink=""-->
  </div>

  <div class="empty-field"></div>
</div>

<div class="divider"></div>
