<div class="border-card-wrapper">
  <div class="card-wrapper">
    <img
      src="https://shift-backend.onrender.com{{ dataFilm.img }}"
      class="card-img"
    />

    <div class="card-main-part">
      <div class="card-title">{{ dataFilm.name }}</div>
      <div class="wrapper-card-director">
        <div
          *ngFor="let oneDirector of dataFilm.directors"
          class="card-director"
        >
          {{ oneDirector.fullName }}.
        </div>
      </div>
    </div>

    <div class="rating">
      <app-stars [stars]="dataFilm.userRatings.kinopoisk"></app-stars>
      <div class="text-rating">
        Kinopoisk - {{ dataFilm.userRatings.kinopoisk }}
      </div>
    </div>

    <div
      class="card-bottom-part"
      routerLink="/movie-card/{{ this.dataFilm.id }}"
    >
      <button class="button-more">Подробнее</button>
    </div>
  </div>
</div>
